#ResultWrapper{
    overflow: hidden;
    display: flex;
    padding: 2% 7% 4% 7% ;
    justify-content: center;
    align-items: center;
    background: rgb(5,5,79);
    background: linear-gradient(30deg, rgba(5,5,79,1) 0%, rgba(0,212,255,1) 90%);
}

.images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 4% 0%;
}

#Result{
    width:98vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#Result h2{
    text-align: center;
    padding: 2% 0%;
    font-size: 200%;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    border-top: 4px solid gray;
    border-bottom: 4px solid gray;

}


img{
    width: 30vw;
    height: 80vh;
    object-fit: cover;
    aspect-ratio: 2/3;
    object-position: 50% 50%;
}

#Result>div{
    margin-left: 3%;
}