*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#wrapper{
    overflow: hidden;
    width:100vw;
    height: 100vh;
    display: flex;
    padding: 0% 7% ;
    justify-content: space-between;
    align-items: center;
    background: rgb(5,5,79);
    background: linear-gradient(30deg, rgba(5,5,79,1) 0%, rgba(0,212,255,1) 90%);
}

#swiper{
    height: 70vh;
    aspect-ratio: 2/3;
    perspective: 1000px;
    perspective-origin: center 50%;
    transform-style: preserve-3d;
    position: relative;
}

#like,
#dislike {
  font-size: 16vh;
  border-radius: 50%;
  padding: 20px;
  position: relative;
  z-index: 1;
  animation-name: animation1;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  /* don't run animation at the beginning */
  animation-play-state: paused;
}

#like.trigger,
#dislike.trigger {
  animation-name: animation2;
}

#like {
  color: red;
  background-color: rgba(255, 255, 255, 0.5);
}

#dislike {
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes animation1 {

  0%,
  100% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
}

@keyframes animation2 {

  0%,
  100% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
}